section {
  width: 50%;
  height: 90vh;
  background-size: cover;
  background-image: url("../../../../public/10677963.png");
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
