section {
  width: 50%;
  height: 100vh;
  background-size: cover;
  background-image: url("../../../../public/10677963.png");
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
