.profile-wrapper{
    width: 65%;
    display: flex;
    margin: 50px auto;
    align-items: start;
    justify-content: space-between;
}


.profile-image {
  width: 138px;
  height: auto;
  padding: 5px;
  margin-left: 100px;
  max-height: 177px;
  border: 2px dotted gray;
}
